@font-face {
    font-family: Centra;
    src: url('../assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Centra;
    src: url('../assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url('../assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
}

.container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32 ease-in-out;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 40px 70px;

    .navigation {
        display: flex;

        .navbar {
            display: flex;
            margin-right: 20px;

            button {
                color: white;
                font-weight: 400;
                letter-spacing: 0.8px;
                padding: 0 25px;
                font-size: 18px;
                opacity: 0.75;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

            .active {
                opacity: 1;
                
            }
        }

        .connect {
            display: flex;
            align-items: center;

            a {
                width: 42px;
                height: 42px;
                cursor: pointer;
                background: rgba(217, 217, 217, 0.1);
                display: inline-flex;
                border-radius: 30%;
                margin-right: 8px;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(255, 255, 255, 0.5);

                &:hover {
                    &::before {
                        content: "";
                        transform: scale(1);
                    }
                    
                    img {
                        filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
                    }
                }

                &::before {
                    content: "";
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    background-color: #ffffff;
                    border-radius: 30%;
                    transform: scale(0);
	                transition: 0.3s ease-in-out;   
                }

                img {
                    width: 40%;
                }

                .githubImg {
                    transform: scale(1.3);
                }
            }

            .letsconnect {
                color: white;
                font-weight: 700;
                letter-spacing: 0.8px;
                font-size: 18px;
                border: 1px solid #fff;
                padding: 18px 34px;
                margin-left: 18px;
                position: relative;
	            background-color: transparent;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: #121212;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }

                &::before {
                    content: "";
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    background-color: #fff;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    transition: 0.3s ease-in-out;
                }
            }
        }

    }
}

.scrolled {
    background-color: #121212;
}

@media only screen and (max-width: 1040px) {
    .container {
        .navigation {
            .navbar {
                display: flex;
                margin-right: 10px;
        
                button {
                    padding: 0 20px;
                }
            }
        
            .connect {
        
                a {
                    width: 40px;
                    height: 42px;
                    margin-right: 5px;
                }
        
                .letsconnect {
                    padding: 18px 18px;
                    margin-left: 10px;
                    position: relative;
                    background-color: transparent;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
        
                    &:hover {
                        color: #121212;
        
                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }
                    }
        
                    &::before {
                        content: "";
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        background-color: #fff;
                        left: 0;
                        top: 0;
                        z-index: -1;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 930px) {

}